# .coveragerc to control coverage.py

[run]

source =
    amazons3
    assignment
    authentication
    comment
    curriculum
    customprofile
    event
    home
    item
    literature
    middlewares
    task
    team
    topic
    utils
    vote

omit =
    *migrations*
    *apps.py*
    *urls.py*
    *__init__.py*
